<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKKStoryboardCell_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9F982311C50822200BC68D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F982451C50822200BC68D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F982501C50822200BC68D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
