<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKKCodeCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9F35BCD1C4F5C8F00E1601D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F35BE11C4F5C8F00E1601D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F35BEC1C4F5C8F00E1601D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
